@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

:root {
  --bg-main: hsl(218, 28%, 13%);
  --bg-secondary: hsl(217, 28%, 15%);
  --bg-footer: hsl(216, 53%, 9%);
  --bg-testimonials: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
  background: var(--bg-main);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* -----------------nav---------------- */

nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a:hover {
  cursor: pointer;
}

/* --------------------header----------- */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  gap: 20px;
  /* to center the header */
  margin: 0 auto;

  /* to center ant text */
  text-align: center;
}

.header-img {
  width: 100%;
}

.header-title {
  font-size: 40px;
  font-weight: bold;
}

button {
  background-color: var(--cyan);
  padding: 15px 55px;
  font-size: 18px;
  border-radius: 40px;
  color: white;
}

/* ----------------services------------- */

.services {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 100px 0;
}
.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
  gap: 20px;
  text-align: center;
}
