/* this is the import for google font called Rubik */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* Define color variables for easier management and reuse */
:root {
  --primary-color: #133d3d; /* Dark Teal */
  --secondary-color: #286b6b; /* Medium Teal */
  --extra-light-1: #53b8b8; /* Light Teal 1 */
  --extra-light-2: #8ddcdc; /* Light Teal 3 */
  --extra-light-3: #c9f0f0; /* Light Teal 2 */
  --white: #ffffff; /* White */
  --gradient-1: linear-gradient(to bottom right, #133d3d, #286b6b);

  --radius: 10px;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--primary-color);
}
